body{
    background-color: #ffcdcd;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: #fcb8b8;
}

.gallery img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    display: block;
}

.gallery figure:hover img {
    transform: scale(1.05);
}

.gallery figure {
    background-color: #1a0202;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    color: white;
    text-align: center;
}

h1{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25% ;
    color: azure;
    font-size: 40px;
}
div{
    background-color: #4e0000;
    height: 100px;
}